{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ODS 14 - Vida Submarina | Agenda 2030</title>
    <link rel="stylesheet" href="{% static 'styles/baseStyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'challenges' %}">Desafíos</a></li>
          <li><a href="{% url 'solutions' %}">Soluciones</a></li>
          <li><a href="{% url 'resources' %}">Recursos</a></li>
          <li><a href="{% url 'web' %}" class="active">Toma Acción</a></li>
        </ul>
      </nav>
    </header>

    <footer>
        <p>&copy; 2025 ODS 14 - Vida Submarina. Parte de la Agenda 2030 de las Naciones Unidas.</p>
    </footer>

        <script src="{% static 'FrontEnd/js/main.js' %}"></script>

  </body>
</html>
